html {
	color: #000080;
}
.line {
    border-top: black solid 1px;
    height: 10px;
    width: 99%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    clear: both;
}
a {
    color: #800080;
}
a:visited {
    color: red;
}
header {
    text-align: center;
    line-height: .95em;
}
.name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -15px;
}
.first-letter {
    font-size: 200%;
}
.small-text {
    font-size: 75%;
}
.address {
    font-size: 75%;
}
.homepage {
    font-size: 90%;
}
.columns-left {
    float: left;
    max-width: 40%;
    margin-left: 25px;
}
.columns-right {
    float: right;
    max-width: 40%;
    margin-right: 25px;
}
li {
    padding: .5em;
}
.bottom {
    clear:both;
    font-size:.6em;
}
.link-text {
    font-size: 75%;
}
.geico {
    text-align: center;
}
.questions {
    font-size: 1.4em;
}
.legal{
    font-size: 1.7em;
}